# Pandas Datatype
https://pythonspeed.com/about/

https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html
## pandas.Series
1. strictly homo and 1-D data structures
2. No need to apply loops and if for conditions
3. uses [] to access elements by indexes
4. indexes can be numbers or text

## pandas.DataFrame
1. 2-D data structures
2. combo of multiple series
3. Equiv to regular tables

In [1]:
import pandas as pd

In [2]:
l1 = [12,34,56,32,12,3,4,57,54,46,56,78,99,100,23]
print(l1)

ser1 = pd.Series(l1)    # ,name='series_name'
print(ser1)

[12, 34, 56, 32, 12, 3, 4, 57, 54, 46, 56, 78, 99, 100, 23]
0      12
1      34
2      56
3      32
4      12
5       3
6       4
7      57
8      54
9      46
10     56
11     78
12     99
13    100
14     23
dtype: int64

In [3]:
# for pd.Series, indexes can also be user defined
ser2 = pd.Series(l1, index= range(1,len(l1)+1))
# index takes a list as input - 
#        i. elements should be unique
#        ii. the size of the list should be same as the size of the series
print(ser2)

1      12
2      34
3      56
4      32
5      12
6       3
7       4
8      57
9      54
10     46
11     56
12     78
13     99
14    100
15     23
dtype: int64

In [4]:
ser3 = pd.Series(l1, index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 0, 'j', 23, 2, 'word_idx', 'z', 1])
print(ser3)
ser3[1] # this gives element corresponding to user defined function

a            12
b            34
c            56
d            32
e            12
f             3
g             4
h            57
0            54
j            46
23           56
2            78
word_idx     99
z           100
1            23
dtype: int64

23

index to series can be 

1. Default (.iloc[]) 0 to n-1. It stays forever internally. If user doesnt define its own index, then both int and ext idx are from 0 to n-1, n:number of elements in series
2. User defined (.loc[]). Ext index is same as of user defined. Int idx is 0 to n-1. loc supports internal index but if ext idx is defined, then loc wont support int idx. Hence, if ext idx is defined, loc is preffered for both row and col fetching

In [5]:
ser4 = pd.Series(l1, index=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o'])
ser4.loc['a']
# ser4.loc[0]       it wont work

12

In [6]:
print(l1[3])
# ser2
# access fourth element - element with def index as 3
print(ser3.iloc[3], ser3.loc[0], ser3[1])
print(ser3['word_idx'])

32
32 54 23
99

In [7]:
print(ser1.iloc[0:8])   # rhl will be omitted. ser1 dont have ext idx
print(ser2.iloc[0:8])   # rhl will be omitted. ser2 have ext idx
# both will give seven rows, but the internal indexing is same in both series. On printing, ext idx overrides to display in ser2.

0    12
1    34
2    56
3    32
4    12
5     3
6     4
7    57
dtype: int64
1    12
2    34
3    56
4    32
5    12
6     3
7     4
8    57
dtype: int64

In [8]:
print(ser2.iloc[0:80])  # only int idx which are valid within range wll be displayed without errors

1      12
2      34
3      56
4      32
5      12
6       3
7       4
8      57
9      54
10     46
11     56
12     78
13     99
14    100
15     23
dtype: int64

In [9]:
print(ser2.loc[1:9]) # Contrary to the regular 1,2,3,4,5,6,7,8 a colon op in .loc will get 1,2,3,4,5,6,7,8,9
print(ser2.loc[0:90])  # only the valid row with ext idx within the range will be displayed without throwing any errors

1    12
2    34
3    56
4    32
5    12
6     3
7     4
8    57
9    54
dtype: int64
1      12
2      34
3      56
4      32
5      12
6       3
7       4
8      57
9      54
10     46
11     56
12     78
13     99
14    100
15     23
dtype: int64

#### Applying conditions to series

In [10]:
ser1 > 30

0     False
1      True
2      True
3      True
4     False
5     False
6     False
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14    False
dtype: bool

In [11]:
ser1[ser1 > 30]

1      34
2      56
3      32
7      57
8      54
9      46
10     56
11     78
12     99
13    100
dtype: int64

In [12]:
ser1[(ser1 > 30) & (ser1 < 80)] # comparision happens on series

#and &
#or  |
#not ~

1     34
2     56
3     32
7     57
8     54
9     46
10    56
11    78
dtype: int64

In [13]:
ser1.loc[(ser1 > 30) & (ser1 < 80)]
# mentioning .loc is the conventional way of applying the conditions, because loc can take boolean values. iloc cant take boolean values.

1     34
2     56
3     32
7     57
8     54
9     46
10    56
11    78
dtype: int64

In [14]:
ser1[[1,3,6]]

1    34
3    32
6     4
dtype: int64

### Functions associated with series

In [15]:
print(dir(ser1))

['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_REVERSED', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__long__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_by_level', '_agg_examples_doc', '_agg_see_also_doc', '_align_frame', '_align_series', '_arith_method', '_attrs', '_binop', '_builtin_table', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_convert_dtypes', '_cython_table', '_data', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_find_valid_index', '_flags', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_cython_func', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_hidden_attrs', '_index', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_iset_item', '_item_cache', '_ix', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_mgr', '_min_count_stat_function', '_name', '_needs_reindex_multi', '_obj_with_exclusions', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_item', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_dict_of_blocks', '_try_aggregate_string_function', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'iteritems', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'std', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

In [16]:
ser1.sum()

666

In [17]:
ser1.mean()

44.4

In [18]:
ser1.median()

46.0

In [19]:
ser1.mode() # always gives a dataframe, even if only one mode is possible

0    12
1    56
dtype: int64

In [20]:
ser1.min()

3

In [21]:
ser1.max()

100

In [22]:
ser1.quantile([0,0.25,0.5,0.75,0.65,1]) # gives percentile values, not just limited to quantiles and min&max

0.00      3.0
0.25     17.5
0.50     46.0
0.75     56.5
0.65     56.0
1.00    100.0
dtype: float64

In [23]:
ser1.describe()

count     15.000000
mean      44.400000
std       31.497846
min        3.000000
25%       17.500000
50%       46.000000
75%       56.500000
max      100.000000
dtype: float64

In [24]:
# DF|Ser.isnull() or .notnull() returns df|ser of True or False

# .to_numeric works only for list, tuple, 1-d array, or Series dtype
#  pd.to_numeric(ser1 [, errors='ignore'(i/p)|'raise'(exception)|'coerce'(NaN)] [, downcast=None|'integer'|'signed'|'float'|'unsigned'])        any data type to numbers
#  pd.to_datetime()       suitable characters to date type
# --------------------------------------------------------------
# astype dont work on columns of mixed type. It truncates the decimal part if float->int
# dataframe.astype(str)   anything(DF or S or DF.S.....) to string (object type)
# dataframe.astype(bool)  anything(DF or S or DF.col...) to bool ([u]int8,16,32,64(d); float16,32,64(d),128, and boolean)
# shortcut
# df = df.astype({'string_col': 'float16','int_col': 'float16'})

# eg to demonstrate to replace numpy's NaN(float64) to pandas NA, to replace it with any value
# df['mix_col'] = pd.to_numeric(df['mix_col'], errors='coerce').astype('Int64')
# df['mix_col'] = pd.to_numeric(df['mix_col'], errors='coerce').fillna(0).astype('int')

#.nunique()
#.astype('category')

#def convert_money(value):
#       value = value.replace('£','').replace(',', '')
#       return float(value)>>>
# df['money_col'].apply(convert_money)
# OR df['money_col'].apply(lambda v: v.replace('£','').replace(',' , '')).astype('float')

In [25]:
import numpy as np

df90 = pd.DataFrame(np.random.random((3,2)), columns =["A", "B"])
print(df90.round(decimals=2))
df90 = df90*10
print(df90)
print(pd.to_numeric(df90['A'], downcast='float').round().astype('int8'))
df90>3

      A     B
0  0.73  0.62
1  0.03  0.30
2  0.16  0.91
          A         B
0  7.309596  6.236959
1  0.337610  3.026212
2  1.625162  9.115406
0    7
1    0
2    2
Name: A, dtype: int8

       A     B
0   True  True
1  False  True
2  False  True

In [26]:
ser1.astype(int)

0      12
1      34
2      56
3      32
4      12
5       3
6       4
7      57
8      54
9      46
10     56
11     78
12     99
13    100
14     23
dtype: int64

In [27]:
ser1.astype(float)

0      12.0
1      34.0
2      56.0
3      32.0
4      12.0
5       3.0
6       4.0
7      57.0
8      54.0
9      46.0
10     56.0
11     78.0
12     99.0
13    100.0
14     23.0
dtype: float64

In [28]:
ser1.astype(object)

0      12
1      34
2      56
3      32
4      12
5       3
6       4
7      57
8      54
9      46
10     56
11     78
12     99
13    100
14     23
dtype: object

In [29]:
ser1.clip?

Signature:
ser1.clip(
    lower=None,
    upper=None,
    axis=None,
    inplace: 'bool_t' = False,
    *args,
    **kwargs,
) -> 'FrameOrSeries'
Docstring:
Trim values at input threshold(s).

Assigns values outside boundary to boundary values. Thresholds
can be singular values or array like, and in the latter case
the clipping is performed element-wise in the specified axis.

Parameters
----------
lower : float or array_like, default None
    Minimum threshold value. All values below this
    threshold will be set to it.
upper : float or array_like, default None
    Maximum threshold value. All values above this
    threshold will be set to it.
axis : int or str axis name, optional
    Align object with lower and upper along the given axis.
inplace : bool, default False
    Whether to perform the operation in place on the data.
*args, **kwargs
    Additional keywords have no effect but might be accepted
    for compatibility with numpy.

Returns
-------
Series or DataFrame or None
    Same type as calling object with the values outside the
    clip boundaries replaced or None if ``inplace=True``.

See Also
--------
Series.clip : Trim values at input threshold in series.
DataFrame.clip : Trim values at input threshold in dataframe.
numpy.clip : Clip (limit) the values in an array.

Examples
--------
>>> data = {'col_0': [9, -3, 0, -1, 5], 'col_1': [-2, -7, 6, 8, -5]}
>>> df = pd.DataFrame(data)
>>> df
   col_0  col_1
0      9     -2
1     -3     -7
2      0      6
3     -1      8
4      5     -5

Clips per column using lower and upper thresholds:

>>> df.clip(-4, 6)
   col_0  col_1
0      6     -2
1     -3     -4
2      0      6
3     -1      6
4      5     -4

Clips using specific lower and upper thresholds per column element:

>>> t = pd.Series([2, -4, -1, 6, 3])
>>> t
0    2
1   -4
2   -1
3    6
4    3
dtype: int64

>>> df.clip(t, t + 4, axis=0)
   col_0  col_1
0      6      2
1     -3     -4
2      0      3
3      6      8
4      5      3
File:      ~/miniconda3/lib/python3.8/site-packages/pandas/core/generic.py
Type:      method

In [30]:
df = pd.Series([4,4,4,6,8,4,10,15,6,15,15])
df.duplicated()

0     False
1      True
2      True
3     False
4     False
5      True
6     False
7     False
8      True
9      True
10     True
dtype: bool

In [31]:
# 5 rows max by default
print(ser1.head(3))
print(ser1.tail(3))

0    12
1    34
2    56
dtype: int64
12     99
13    100
14     23
dtype: int64

In [32]:
print(ser1.index)
print(ser3.index)
print(ser1.index.tolist())
print(ser3.index.tolist())
print(ser3.tolist())

RangeIndex(start=0, stop=15, step=1)
Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 0, 'j', 23, 2, 'word_idx', 'z',
       1],
      dtype='object')
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 0, 'j', 23, 2, 'word_idx', 'z', 1]
[12, 34, 56, 32, 12, 3, 4, 57, 54, 46, 56, 78, 99, 100, 23]

In [33]:
ser3.to_csv("ser3.csv")

## DataFrames

In [34]:
df = pd.read_csv('./sosurveydataset/survey_results_public.csv')
# here we can write second param as <index_col='Respondent'> as it is eligible for being indexed. 
# we can also provide normally ext idx as <index=[..,..,..,..,......]>
#
#df = pd.read_csv('dataset.csv', dtype={'string_col': 'float16','int_col': 'float16'})

# headers=None|rownum   (tells reader csv reader to make column header rownum number, or none in case of no headers are present)
# skiprows=num|[list of rownums]|lambda idx: idx%3==0      (skips num rows or rows from list from starting)
# skipfooter=num|"

# If headers are not present, and we want to give custom headers, names=[list of headers]

# nrows=num     (makes us to read only first num rows into DF, excluding headers)

In [ ]:
pd.set_option('display.max_columns', 12)
pd.set_option('display.max_rows', 10)

In [ ]:
df

In [ ]:
df.info()
# 1. Row - 32 entries with 0 - 31 and Data columns (total 15 columns)
# 2. All columns - followed by it's data types
        # object - strings
        # number of non missing values in that column
# 3. Freq table of the data types

In [ ]:
df.dtypes

In [ ]:
df.Respondent.dtypes

In [ ]:
df.columns.tolist() # there is nothing like df.rows method

In [ ]:
df.describe()   # cols only with numerical values will be taken into cinsideration. Rows with NaN will be excluded.

In [ ]:
# for dataframes when used with loc or iloc, rows and cols both are required inside []
# For using loc and iloc, it's nesessary to pass both column and row
# [r,c] -> left of comma - row indexes/conditions and right is for column names

df.loc[0:15,['Respondent', 'Age', 'CompTotal']] # except idx, everything is compulsory

In [ ]:
# Try to extract columns

# 1. Use of the . operator
print(df.YearsCode)
print(df['YearsCode'])  # prefer [] over . because if col named count, it will overridden by the method count
print(df[['Respondent', 'Age', 'CompTotal']])

In [ ]:
df['Age'] = pd.to_numeric(df.Age)

In [ ]:
df['CompTotal'] = df.CompTotal.astype(bool)

In [ ]:
df.CompTotal

In [ ]:
df.Respondent = df['Respondent'].astype(float)

In [ ]:
df.info()

##  Corey's

In [ ]:
people = {
    'first' : ['Corey', 'Jane', 'John'],
    'Last' : ['Schafer', 'Doe', 'Doe'],
    'email' : ['CoreySchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']
}

In [ ]:
df1 = pd.DataFrame(people)

In [ ]:
df1.shape    # gives dimension. NOTE, its w/o brackets

In [ ]:
df1['first'].shape

In [ ]:
df1['first'].size

In [ ]:
df1.size

In [ ]:
df1

In [ ]:
# index to dataframe
df1.loc[0] # or df.iloc[0], both will give same output. Here, for single row, column idx is idx of the output

In [ ]:
# for multiple rows if to be fetched, then normal output is observed

df1.iloc[[1,2], 0]   # from " , 0" is optional. For multiple rows/cols [] is required, but for single row/col only that row's/col's idx is required...  Works both for iloc and loc, but remember that loc wont take int idx if ext idx is defined. Here col headers are ext idx which are implicitly defined.
# Syntax:       .[i]loc[[row[,row,row,...]][,[col[,col,col,...]] ]

In [ ]:
df1.columns

In [ ]:
# WORKS BUT IRRELEVANT
df1.value_counts()

In [ ]:
df['Hobbyist'].value_counts()   # gives the frequency of the unique values

In [ ]:
# making the index col by one series of dataframe

print(df1)
print(df1.index)
df1.set_index('email')
print(df1)   # inplace change didn't take place
print(df1.index)
df1.set_index('email', inplace=True)
print(df1)
print(df1.index)
df1.reset_index(inplace=True)
print(df1)
print(df1.index)

# one more application: if we make new df of filtered DF the index are having holes. reset_index([drop=True][, inplace=True]) will make ne contiguous index, w/ making old hollow index as additional series.
# drop=True will drop that old hollow index to be appended as a series to the filtered DF

In [ ]:
# sorting rows based on index
df2=pd.read_csv('./sosurveydataset/survey_results_schema.csv', index_col='Column')

In [ ]:
df2

In [ ]:
df2.sort_index()    # this didn't take inplace change. For that, use <inplace=True> as parameter to the sort_index() method

In [ ]:
df.loc[df['ConvertedComp'] > 70000, ['ConvertedComp', 'Country']]    # comparision happens on series

In [ ]:
countries = ['United States', 'India', 'United Kingdom', 'Germany', 'Canada']
filt = df['Country'].isin(countries)
df.loc[filt]

In [ ]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)    # ,case=True (makes case-sensitive)  ,regex=True(parse pattern as regex)
df.loc[filt, 'LanguageWorkedWith']

# import re
# df.loc[df['LanguageWorkedWith'].str.contains('fire|grass', flags=re.I, regex=True, na=False)]   # '^pi[a-z]*'

## Updating column names of DFs

In [ ]:
# changing all columns name inplace by default
print(df1)
df1.columns = ['Email', 'First Name', 'Last Name'] # this methos requires all column of DFs, even if all name changes are not required
print(df1.columns)
df1.columns = [x.upper() for x in df1.columns]
print(df1.columns)
df1.columns = df1.columns.str.replace(' ','-')
print(df1.columns)
df1.columns = [x.lower().replace('-','_') for x in df1.columns]
print(df1.columns)

In [ ]:
## df.replace(single_val|list_of_vals, replacing_val|list_of_vals)      (corrsponding values will get repalced by the corresponding values)
## df.replace({'col1': single_val|list_of_vals,   'col2': single_val|list_of_vals, ... }, np.NaN)
## df.replace({'val1' : replacing_val,  'val2' : replacing_val, ...})
## df.replace({'col1' : '[A-Za-z]',   'col2' : 'some_othr_pat', ... }, replacing_val, regex=True)
# (regex will not replace the whole cell value with the new replacing vale. INstead it will just replace the part of the found matched string. Rest part of the string will be untouched)

In [ ]:
# changing specific column name with explicitly mentioning inplace parameter
df1.rename(columns={'first_name':'first', 'last_name':'last'}, inplace=True)
df1

## Updating data in DFs

In [ ]:
# changing single row and all of its column vaue, i.e., entirely whole row
df1.loc[2] = ['johnsmith@gmail.com', 'John', 'Smith']
df1

In [ ]:
# changing specific columns for a given row
df1.loc[1, ['email', 'last']] = ['JaneDoodle@email.com', 'Doodle']  # Also, for only single vale to be change, list is not required in LHS or RHS
df1
# one can also use df1.[filt, col(s)] = <[>col(s)<]>

In [ ]:
df1['email'] = df1['email'].str.lower()
df1

### apply
used for calling function on every values of our data structure. Can be applied on Series as well as on DFs. NOT inplace.

In [ ]:
df1.email.apply(len)

In [ ]:
df1.apply(len, axis=1)

In [ ]:
df.size #r*c

In [ ]:
def update_email(email):
    return email.upper()

df1['email'] = df1.email.apply(update_email)

In [ ]:
df1

In [ ]:
df1['email'] = df1.email.apply(lambda x : x.lower())
print(df1)

In [ ]:
# apply on dataframes
print(df1.apply(len))   # axis is set to rows by default
print(df1.apply(len, axis = 'columns'))

In [ ]:
# finding minimum value from each series of the dataframe
df1.apply(pd.Series.min)

In [ ]:
# while lambda function runs on the Series by default. We dont need to explicitly specify the pd.seried while using the dataframe with apply
df1.apply(lambda x : x.min())   # look at it. X is itself a series, and we are finding the minimum from every series. This is useful for numerical analysis.

### applymap
It works only on the dataframes. It does not work on the series data structures. It is used to run functions on every element of the dataframes. NOT inplace.

In [ ]:
print(df1.applymap(len))
print(df1.applymap(str.lower))
df1

### map
It only works on a series. It is used to substitute each value in the series with another value. NOT inplace.

In [ ]:
df1['first'].map({'Corey':'kirrr', 'Jane':'girrrh'})    # those values which are not mentioned in the dictionary, will be turned into NaN.
# for permanent change, use same series in LHS

### replace
for handling the error of the map that gives NaN, we use replace. Here, only specfied values will get altered. NOT inplace.

In [ ]:
df1['first'].replace({'Corey':'kirrr', 'Jane':'girrrh'})
# for permanent change, use same series in LHS

In [ ]:
# this changes the value based on certain conditions
# df.loc[df['Type 1'] == 'Fire', 'Legendary'] = '<some_val>'

# below, if rhs is single value w/o(preffered for single value) or w/ list, then both, or cols in the LHS will be set to the value of the RHS, else correspondingly
# df.loc[df['Type 1'] == 'Fire', ['Legendary1', 'Leg12']] = ['<some_val1>', '<some val2>']

In [ ]:
# add columns
df1['full_name'] = df1['first'] + ' ' + df1['last']
df1

In [ ]:
# removing cols
df1.drop(columns='full_name', inplace=True)   # or, columns=['col1', 'col2', ...]
df1

In [ ]:
df1['full_name'] = df1['first'] + ' ' + df1['last']

# split column

df1[['firstname', 'lastname']] = df1['full_name'].str.split(' ',expand = True)
df1

### removing or adding rows of data

append doesn't have inplace parameter. Hence for permanent change, use df1= df1.appen......................

In [ ]:
# adding row of data. This is NOT INPLACE change
df1.append({'firstname':'sharan'}, ignore_index=True)
df1.append({'firstname':['wubba', 'lubba', 'dub', 'dubb']}, ignore_index=True)

In [ ]:
ppl = {
    'first' : ['Tony', 'Steve'],
    'last' : ['Stark', 'Rogers'],
    'email' : ['notyourkakkar@avengers.com', 'itsyourcap@avengers.com']
}

In [ ]:
ndf = pd.DataFrame(ppl)

In [ ]:
df1 = df1.append(ndf, ignore_index=True)

In [ ]:
df1

In [ ]:
# removing rows
df1.drop(index=4)   # NOT INPLACE

In [ ]:
filt = df1['last'] == 'Doodle'
print(filt)
df1.drop(index=df1[filt].index)

### Sorting data in pandas

pass parameter as inplace=True for permanent shufflibg of value

In [ ]:
df1

In [ ]:
df1.sort_values(by = 'last')

In [ ]:
df1.sort_values(by = ['last', 'first'], ascending = False)

In [ ]:
df1.sort_values(by = ['first', 'last'], ascending = [False, True])

In [ ]:
# sorting by index. It is used to restore the DF in the original order of rows as per the internal index
df1.sort_index()

In [ ]:
#viewing just sorted series of a dataframe
df1['email'].sort_values()

In [ ]:
# displaying Nth largest values...
# M1: df1[[col1, col2,....]].head(n)    where the dataframe is sorted
# M2: below
df['ConvertedComp'].nlargest(10)    # also there is nsmallest

In [ ]:
df.nlargest(10, 'ConvertedComp')    # also there is nsmallest

In [ ]:
df['Country'].value_counts(normalize=True)

In [ ]:
df.loc[df['Country'] == 'India', ['CompFreq']].value_counts(normalize=True)

In [ ]:
country_grp = df.groupby(['Country'])
country_grp.get_group('India')

In [ ]:
pd.set_option('display.max_rows', 50)
country_grp['CompFreq'].value_counts().head(50)

In [ ]:
country_grp['CompFreq'].value_counts().loc['India']

In [ ]:
country_grp['CompTotal', 'Respondent'].agg(['mean', 'median'])

In [ ]:
filt = df['Country'] == 'India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python', na=False).sum() # sum works on boolean also, takes True as 1 and False as 0

In [ ]:
country_grp['LanguageWorkedWith'].str.contains('Python', na=False).sum()    # ERROR since it is group by object, not a normal object. Hence we will use the apply method

In [ ]:
country_grp['LanguageWorkedWith'].apply(lambda x : x.str.contains('Python', na = False).sum())

In [ ]:
country_respondents = df.loc[:,'Country'].value_counts()
country_respondents

In [ ]:
country_uses_python = country_grp['LanguageWorkedWith'].apply(lambda x : x.str.contains('Python', na=False).sum())
country_uses_python

In [ ]:
python_df = pd.concat([country_respondents, country_uses_python], axis = 'columns')
python_df

In [ ]:
## keys=['df1_alias', 'df2_alias']      ( this will make super index irrespective of the exixsting index, BUT WILL ONLY WORK WHEN axis-'index')

## It might be possible during axis='columns' that the nnumber of rows are not equal. This will lead to mismatching of the corresponding index order
# this will lead to creation of new index range in final output, but the original DFs indexes will get converted to series in O/P DF
# to avoid this, create index=[0,1,2,...] and index=[4,2,0,1,3,...] in corresponding DFs
# therefore, while concatenating, the indexes will be correspondingly wqual, but the before cstom index will be now series, but in order
# later, drop one of the repeating series

## series can also be cancatenated.

In [ ]:
# merge dataframes : Its like join in SQL. Unlike concat, its not concatenating on the index column. But, it is merging on the column, even if they are jumbled
# Only common columns will be in the new DF, by default
df33=pd.DataFrame({
    'city' : ['NY', 'Chic', 'Orlando'],
    'Temp' : [21,14,35]
})
df33

In [ ]:
df44 = pd.DataFrame({
    'city' : ['Chic', 'NY', 'Orlando'],
    'humidity' : [65,68,75]
})
df44

In [ ]:
df55=pd.merge(df33, df44, on='city')        # how='inner'|'outer'|'left'|''right'
df55

In [ ]:
# in case where data series in DF are having same exact name for [some] columns, then pandas imlicitly appens _x & _y. ==> suffixex=('_left', '_right')
# indicator=True    (will make additional column named '_merge' having values 'left_only', 'right_only', 'both')

In [ ]:
python_df.rename(columns={'Country':'NumRespondents', 'LanguageWorkedWith':'NumKnowsPython'}, inplace=True)
python_df

In [ ]:
python_df['PctKnowsPython'] = (python_df['NumKnowsPython'] / python_df['NumRespondents']) * 100
python_df

In [ ]:
python_df.sort_values(by = 'PctKnowsPython', ascending=False, inplace=True)
python_df

In [ ]:
python_df.loc['India']

In [ ]:
# PIVOT FUNCTION is just used for restructuring the dataframe. combination of Index should be unique per columns for the new dataframe pivot
df77 = pd.read_csv('./sosurveydataset/wheather.csv')
df77

In [ ]:
df77.pivot(index='date', columns='city')    # ,values='humidity'

In [ ]:
# Pivot table allows to summarize and aggregate the tabular data. Suppose we want to aggregate the data
df77 = pd.read_csv('./sosurveydataset/wheather2.csv')

df77.pivot_table(index='city', columns='date', margins=True)  # mean by default # margins is optional
# aggfunc='sum'

In [ ]:
df77 = pd.read_csv('./sosurveydataset/wheather2.csv')
df77['date'] = pd.to_datetime(df77['date'])
df77.pivot_table(index=pd.Grouper(freq='M', key='date'), columns='city')

In [ ]:
# melt

In [ ]:
df69 = pd.DataFrame({
    'day' : ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
    'chicago' : [32,30,28,22,30,20,25],
    'chennai' : [75,77,75,82,83,81,77],
    'berlin' : [41,43,45,38,30,45,47]
})

df69

In [ ]:
pd.melt(df69, id_vars=['day'])  # id+vars are the cols that we want on x-axis, basically that we want keep intact
# var_name='col_name instead of variable'
# val_name='col_name instead of value'

In [ ]:
# Reshaping DataFrame using Stack/Unstack
df96 = pd.read_excel("stocks.xlsx",header=[0,1])
df96

In [ ]:
df96.stack()

In [ ]:
df96.stack(level=0)

In [ ]:

df96_stacked=df96.stack()
df96_stacked

In [ ]:
df96_stacked.unstack()

In [ ]:
# 3 levels of column headers
df67 = pd.read_excel("stocks_3_levels.xlsx",header=[0,1,2])
df67

In [ ]:
df67.stack()

In [ ]:
df67.stack(level=0)

In [ ]:
df67.stack(level=1)

In [ ]:
# contingency table | crosstab | cross table

df007 = pd.read_excel('./survey.xls')
df007

In [ ]:
pd.crosstab(df007.Nationality, df007.Handedness)

In [ ]:
pd.crosstab(df007.Sex, df007.Handedness)

In [ ]:
pd.crosstab(df007.Nationality, df007.Handedness, margins=True)

In [ ]:
pd.crosstab(df007.Nationality, [df007.Handedness, df007.Sex])

In [ ]:

pd.crosstab([df007.Nationality, df007.Sex], df007.Handedness)

In [ ]:
pd.crosstab(df007.Nationality, df007.Handedness, margins='index')

In [ ]:
import numpy as np
pd.crosstab(df007.Sex, df007.Handedness, values=df007.Age, aggfunc=np.average)  # avg age of combinations

## Handling missing values
It is not inplace change. For that to happen, use 'inplace' argument and set it to True

In [ ]:
import numpy as np
people = {
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}

df = pd.DataFrame(people)
df

In [ ]:
df.dropna() # rows containing missing values are removed
# .dropna(thresh=2_OrAnyNum) (implies that if the row has at least 2 valid values, then keep it. Otherwise drop it. NA values are non-valid values)

In [ ]:
df.dropna(axis='index', how='any')  # they are default parameters; axis decides whether to drop that row or that columns

In [ ]:
df.dropna(how='all')    # drop rows only if all the values in that row is empty

In [ ]:
# fetching rows that dont have empty email address
df.dropna(axis='index', subset=['email'])   # how is not relevant because only email column is been looked for empty values. all or any wont create any difference
# subset argument will take column names that will be cheked for missing values; even though single item is passed, but it needs to be in the list

In [ ]:
# fetching rows that have at least either of lastname or email
df.dropna(axis='index', how='all', subset=['last', 'email'])

handling custom empty value. eg, here 'NA' or 'Missing' are empty for us, but for python, its just an object

In [ ]:
df.replace('NA', np.nan, inplace=True)
df.replace('Missing', np.nan, inplace=True)
df

In [ ]:
df.isna()

filling na values with the particular values

In [ ]:
df.fillna('Missing')

In [ ]:
# .fillna({ 'col1': list_or_single_na_considered_value(s), 'col2': list_or_single_na_considered_value(s) , ... })

# .fillna(method='ffill' [, axis=1|0] [, limit=1(or any number)])       # fills data of immediate above cell
# bfill

In [ ]:
## INTERPOLATION

# df.interpolate()      (fills the avg data)

# df.interpolate(method=time)       ( I think it works when the index is datetime column. So instead of median, it just smartly checks for the date based value )

In [ ]:
df.dtypes

In [ ]:
df['age'].mean()    # this will give error because 'age' col is of type object/string. mean() doesn't work on the age columns. So we need to convert to numbers

In [ ]:
type(np.nan)    # np.nan is of type float

In [ ]:
# if we try to convert the column containing nan(float) to integer type, then this will give an error. If col wouldn't have missing values, then it would have just worked fine
df['age'] = df['age'].astype(int)

In [ ]:
# so we need to either replace missing values by 0, which will alter the actual average value of that col
# else we have to cast this col values to float
df['age'] = df['age'].astype(float)
df.dtypes

In [ ]:
df['age'].mean()

In [ ]:
# one of the many ways to add total columns. Observe that here .sum() is working on the row, instead of its default behaviour, ie on the whole series
# df['Total'] = df.iloc[:, 4:6].sum(axis='rows')

# REORDERING OF THE COLS
# cols = df.columns.tolist
# df = df[cols[0:4] + [cols[-1]] + cols[4:12]]  we can also use names of the columns instead of hard coded numbers

In [ ]:
na_vals = ['NA', 'Missing']
df = pd.read_csv('./sosurveydataset/survey_results_public.csv', na_values=na_vals)

for specififc cols, what na_values may be defined for whole DF, might be actual data for some underlying series, e.g., -1

So, for that we can construct na_vals as dict as
na_vals= { 'col1':['missing', 'n.a.'], 'col2':['missing', -1, 'n.a.'] }
Here, it maybe possible taht 'col1' have -1 as actual valid data. Hence, we specified column wise na_values

In [ ]:
df['YearsCode'].head(20)

In [ ]:
# since col has some NaN value, hence it is of object type
# it also has some string values. So, even after converting to float, mean() wont work because some actual strings are present
df['YearsCode'].unique()

In [ ]:
df['YearsCode'].replace('Less than 1 year', 0, inplace=True)
df['YearsCode'].replace('More than 50 years', 51, inplace=True)
df['YearsCode'].unique()    # dtype is still an object. Hence we need to convert it to the float

In [ ]:
df['YearsCode'] = df['YearsCode'].astype(float)
df['YearsCode'].dtype

In [ ]:
df['YearsCode'].mean()  # now we got the answer

## Datetime series analysis
https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [ ]:
# date
# day:          %d
# dayofweek(0-6)%w
# weekdayabbr   %a
# weekdayfulln  %A
# monthnum      %m
# monthnameabbr %b
# monthnamefull %B
# yearwocent    %y
# yearwcent     %Y
# Hour(00-24)   %H
# Hour(00-12)   %I
# Minutes       %M
# Seconds       %S
# fracsex       %f
# am/pm         %p

In [ ]:
date1 = "25Feb2018"
date2 = "1/1/18"
date3 = "01/23/1986"
date4 = "Sunday 25 Feb 2018"

In [ ]:
pd.to_datetime(date1,format="%d%b%Y")

In [ ]:
d = pd.to_datetime(date3,format="%m/%d/%Y")
print(d)

In [ ]:
type(d)

In [ ]:
df = pd.read_csv('./sosurveydataset/ETH_1h.csv')

In [ ]:
df.head()

In [ ]:
# Date column is not even of datetime type. No datetime methods will work onto it
df.loc[0, 'Date'].day_name()

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %I-%p')
df.head()

In [ ]:
df.loc[0, 'Date'].day_name()    # running datetime method on single datetime value

In [ ]:
# parsing datetime column at the time of read_csv

d_parser = lambda x : pd.datetime.strptime(x, '%Y-%m-%d %I-%p')
df1 = pd.read_csv('./sosurveydataset/ETH_1h.csv', parse_dates=['Date'], date_parser=d_parser)
df1

In [ ]:
# running datetime methods on pandas series, we need to use dt class on the series object
df1['Date'].dt.day_name()

In [ ]:
df1['DayOfWeek'] = df1['Date'].dt.day_name()
df1['DayOfWeek']

In [ ]:
df1.info()

In [ ]:
df1['Date'].min()

In [ ]:
df1['Date'].max() - df1['Date'].min()

In [ ]:
filt = (df1['Date'] >= '2019') & (df1['Date'] < '2020') # implicitly, pandas will know that it is year
df1.loc[filt]

In [ ]:
filt = (df1['Date'] >= pd.to_datetime('2019-01-01')) & (df1['Date'] < pd.to_datetime('2020-01-01'))
df1.loc[filt]

In [ ]:
df1.set_index('Date', inplace=True)
df1

In [ ]:
# since Date is noe index, we can use it .loc[]
df1['2019']

In [ ]:
df1['2020-01':'2020-02']

In [ ]:
df1['2020-01':'2020-02']['Close'].mean()
# df1.loc['2020-01':'2020-02','Close'].mean()

In [ ]:
df1['2020-01':'2020-02']

In [ ]:
# seeing max value per day. We need to resample our data
highs = df1['High'].resample('D').max()

In [ ]:
highs['2020-01-01']

In [ ]:
%matplotlib inline

In [ ]:
highs.plot()

In [ ]:
df1.resample('W').agg({'Close':'mean', 'High':'max', 'Low':'min', 'Volume':'sum'})

In [ ]:
## suppose the index id datetime column with holes/Gaps. To fill the DF with contiguous dates index rows:
# dt = pd.date_range('01-01-2017', '01-11-2017')        (we made dates b/n two date ranges. It can be from min and max dates)
# idx = pd.DatetimeIndex(dt)                            (we made those dates as index worthy)
# df = df.reindex(idx)                                  (we reindexed the df with new date ranges. Overlaping wont get overwritten, just new rows will get added)

### Reading & Writing data Files

In [ ]:
df.to_csv('./pilot1.csv')
# we can also pass the parameter index=False & header=False which makes sure that the index & header are not written to file.
# This index=False param works with the any writing to file pandas function including in SQL
# columns=['col1', 'col2',...] will make sure that only these columns will get written to the .csv file

In [ ]:
# tab-delimited files
# df.to_csv('./pilot2.tsv', sep='\t')
# df = pd.read_csv('./pilot1.tsv', sep = '\t')

for wriring to Excel file, we need one package

conda install xlwt(for older .xls) openpyxl(for new .xlsx) xlrd

In [ ]:

## CONVERTING/REPLACING specific values in the excel data cell/Series into another value

# def col1_func_n(cell):
#       if cell=='some specific value':
#           return another_val
#       if cell=='other error value':
#           return 'new replace_val'
#
# def col2_func_n(cell):
#   blah blah blah blah

# pd.read_excel('./pilot3.xlsx' [, "Sheet1"]  [, converters = {'col1':col1_func_n, 'col2':col2_func_n}])

In [ ]:
# df.to_excel('filename.xls[x]' [, sheet_name="stocks"] [, startrow = rownum_starts_from_0] [, startcol = colnum_starts_from_0])

## Also if we need to write two DFs to two sheets of same excel file
# with pd.ExcelWriter('filename.xls') as writer:
#       df1.to_excel(writer, sheet_name="sheet_name_1")
#       df2.to_excel(writer, sheet_name="sheet_name_2")

In [ ]:
# to JSON; by default it makes it dict like
# df.to_json('./pilot4.json')

In [ ]:
# we can change the to_json default param to make file in list like. I mean, one line for one record
# df.to_json('./pilot4.json', orient='records', lines=True)

In [ ]:
# test = pd.read_json('./pilot4.json', orient='records', lines=True)
# test.head()

## connecting to SQL
we need to install SQLAlchemy and psycopg2(for postgres SQL)

It is popular ORM(Object Relational Mapper), which is just a way to use python objects in order to connect to database easily

from sqlalchemy import create_engine

import psycopg2

engine = create_engine('postgresql://dbuser:dbpass@localhost:5432/sample_db')

india_df.to_sql('sample_table', engine) THIS WILL CREATE THE NON-EXISTING TABLE

india_df.to_sql('sample_table', engine, if_exists='replace|append') THIS WILL CREATE THE EXISTING TABLE

sql_df = pd.read_sql('sample_table', engine, index_col='Respondent')    IMPORTING TABLE DATA

sql_df = pd.read_sql_query('SELECT * FROM sample_table', engine, index_col='Respondent')

import pandas as pd

import sqlalchemy

engine = sqlalchemy.create_engine('mysql+pymysql://dbuser:@localhost:3306/application')

df = pd.read_sql("tab_n", engine [, columns=['col1', 'col2', ... ] ])

===========================================================================================================================================================

query = ''' sql query '''

df = pd.read_sql_query(query, engine [ , chunksize= num] )

===========================================================================================================================================================

df <<== data populate dataframe with column name same as the table column names

df.to_sql( name = 'tab_n', con=engine, index=False, if_exists='append'|'replace'|'fail')

===========================================================================================================================================================

query = ''' sql query '''

df = pd.read_sql('tab_n'|query , engine)

## Reading data from some online URL

pst_df = pd.read_json('URL')

In [ ]:
# for df in pd.read_csv('./sosurveydataset/ETH_1h.csv', chunksize=5):
#     print("Chunk:")
#     print(df)